# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.iws

# Backend
backend/build/
backend/.gradle/
backend/bin/
backend/out/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Logs
*.log
